html {
background-color: #66E275;
}
header {
position: absolute;
background-color: #008110;
}

footer {
position: absolute;
background-color: #008110;
}

header h1 {
position: absolute;
font-family: 'Inter';
font-style: italic;
font-weight: 600;
font-size: 24px;
line-height: 29px;
letter-spacing: 0.05em;
color: #00660D;
}


header a {

position: absolute;
font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 17px;
color: #FFFFFF;
}

footer h4 {
position: absolute;
font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 17px;
color: #FFFFFF;
}


footer p {
position: absolute;
font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 12px;
line-height: 15px;
color: #FFFFFF;
}


main h1 {
position: absolute;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
color: #000000;
}


.li1 {
font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 13px;
line-height: 16px;
color: #000000;
}
.li2 {
font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 13px;
line-height: 16px;
color: #000000;
}
.li3 {
font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 13px;
line-height: 16px;
color: #000000;
}


