html {
  background-color: #66E275;
}

header, footer {
  background-color: #008110;
  padding: 15px;
  color: white;
}

header h1 {
  font-family: 'Inter', sans-serif;
  font-style: italic;
  font-size: 1.5rem;
  margin: 0;
  text-align: center;
}

header a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}
main {
  padding: 20px;
}

ol {
  margin: 15px 0;
  padding-left: 20px;
}

.li1, .li2, .li3 {
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  margin-bottom: 10px;
}
